@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
}

/*input {
  background: none;
}*/

.scrollbar-sm::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 6px;
}
.scrollbar-sm::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #888;
}
.scrollbar-sm::-webkit-scrollbar-thumb:hover {

}

.top-full {
    top: 100%;
}
